<h1>Student Manage App</h1>
<% if user_signed_in? %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %></br>
  <%= link_to 'Students', students_path %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %></br>
  <%= link_to 'Sing up', new_user_registration_path %> </br>
<% end %>
<br>
<%= link_to 'Register Student', register_path %>
